/* ADDING FONT  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	display: grid;
	place-items: center;
	background-color: #f3f1f1;
}
section {
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 2px 4px rgb(0 0 0 / 0.3);
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.container {
	max-width: 500px;
}
.form {
	width: 500px;
	max-width: 100%;
	padding: 1rem;
}
.form-input {
	resize: none;
	font-family: inherit;
	display: inline-block;
	width: 100%;
	outline: none;
	padding: 1rem;
	border-radius: 10px;
	overflow-y: hidden;
	background-color: rgb(253, 251, 251);
	font-size: 1rem;
	height: 60px;
}

.title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.title span {
	background-color: red;
	color: #fff;
	border-radius: 5px;
	padding: 8px;
	box-shadow: 0 4px 5px rgb(0 0 0 / 0.3);
}

.form-title {
	margin-bottom: 25px;
	font-size: 1.2rem;
}
.form-button {
	font-size: 2rem;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.form-profile {
	color: #fff;
	font-size: 18px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	border-radius: 50%;
}
.item {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 20px;
}
.item .item-response {
	font-size: 0.75rem;
}

.delete-btn {
	margin-left: auto;
	border: none;
	background-color: transparent;
	color: red;
	cursor: pointer;
}
